# Byte-compiled / cache
__pycache__/
*.py[cod]

# Django DB & settings
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.env
.env.*
db.sqlite3

# Static & media
staticfiles/

# macOS
.DS_Store

# VS Code
.vscode/

# Virtual environment
venv/
ENV/
env/
.venv/